<div class="header">
  <button>Boards</button>
  <div class="logo">
    <img src="../../../../assets/images/header-logo-min.png" alt="">
  </div>
  <div class="avatar"></div>
</div>

<section class="boards-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>

      <div class="col-lg-9">
        <div class="boards">

          <a class="item" *ngFor="let board of boards" [routerLink]="['/boards', board.id]">
            <app-board [board]="board"></app-board>
          </a>

          <div class="item add-button" (click)="openModal(modal)">Create board</div>

        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #modal>
  <div class="modal-body">
    <form class="form-group justify-content-between mb-0" [formGroup]="form">
      <div class="form-group w-75">
        <input type="text"
               class="form-control w-100 bg-light shadow-none"
               placeholder="Add board's title" formControlName="title">
      </div>
      <button type="button" class="close position-absolute" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <button type="submit"
              class="btn btn-success"
              [disabled]="form.invalid || submitting" (click)="createBoard()">Create board
      </button>
    </form>
  </div>
</ng-template>
