/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Charlie Text';
  src: url('assets/fonts/Charlie_Text-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

//@font-face {
//  font-family: 'Charlie Text';
//  src: url('assets/fonts/Charlie_Text-Regular.woff') format('woff');
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//}

@font-face {
  font-family: 'Charlie Text';
  src: url('assets/fonts/Charlie_Text-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Charlie Text';
  src: url('assets/fonts/Charlie_Text-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Charlie Display';
  src: url('assets/fonts/Charlie_Display-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #0079BF;
}
