.board-wrapper {
  background-color: #2379bf;
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;

  .board-header {
    display: flex;
    justify-content: space-between;

    .left-menu {

    }
  }
}
