.page {
  background: linear-gradient(135deg, #0079bf, #5067c5);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  .buttons {
    font-family: 'Charlie Text', sans-serif;

    a {
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
      margin: 0 8px;
      padding: 8px;
      border-radius: 5px;
      background-color: #ffffff;
      color: var(--primary-color);
    }
  }
}

.main-section {
  padding: 30px 0;

  h1 {
    margin-bottom: 10px;
    font-family: 'Charlie Display', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 49px;
    line-height: 1.35;
  }

  p {
    margin-bottom: 10px;
    font-family: 'Charlie Text', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 25px;
    line-height: 1.5;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.work-smarter {
  padding: 40px 0 30px;

  .inner {
    background: linear-gradient(180deg, #42548e 0%, #6b668c 100%);
    border-radius: 20px;

    h3 {
      font-family: 'Charlie Display', sans-serif;
      font-weight: 600;
      font-size: 49px;
      color: #ffffff;
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      font-family: 'Charlie Text', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
    }

    .logo-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      img {
        margin: 10px;
      }
    }
  }
}


